.donate-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 100px;
  }
  h2{
    color: #fff;
    text-align: center;
    margin: 100px;
  }
  
  .card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    color: black;
  }
  
  .card h2 {
    margin-bottom: 10px;
  }
  
  .card p {
    margin-bottom: 20px;
  }
  
  .card button {
    padding: 10px 20px;
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: #FF8C00;
  }
  