.donate {
  padding-top: 0.1px;
  background-repeat: no repeat;
  margin-left: 5%;
  margin-right: 5%;
}

.donate-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
  }

  .donate-header {
    background-image: url('http://i.huffpost.com/gen/1371078/images/o-SMILING-ANIMAL-facebook.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .donate-header h2{
    color: black;
    text-shadow: white 1px 0 10px;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
    margin: 100px;
    padding-top: 150px;
  }
  
  .card {
    width: 300px;
    padding: 20px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    color: black;
  }
  
  .card h2 {
    font-size: 2rem;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
  .card p {
    margin-bottom: 20px;
  }
  
  .card button {
    padding: 10px 20px;
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: #FF8C00;
  }
  
  .amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
  }
